html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url('background.png');
    background-size: 187px;
    background-attachment: fixed;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;;
}

.header {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
    height: 42px;
    width: 100%;
    overflow: hidden;
}

.progress {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#site-title {
    color: #38b7ea;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    padding: 0 27px;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

#container {
    position: relative;
    min-height: 390px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

#avatar {
    float: right;
    padding: 5px 27px;
}

#avatar img {
    border-radius: 50%;
}

.login-panel {
    max-width: 420px;
}

#type {
    z-index: 1;
    position: relative;
    margin-top: 42px;
    margin-bottom: 20px;
    text-align: center;
}

.subject {
    text-align: center;
}

.subject .el-button--large {
    font-size: 20px;
    padding: 15px 27px;
}

footer {
    background-color: white;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.11);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 11px;
    width: 100%;
}

#copyright {
    color: #828282;
    font-size: 12px;
}

.question {
    margin: 15px 11px 0 11px;
}

.question-title {
    margin: 11px 0 5px 0;
    font-size: 1.25rem;
}

.question-choice {
    margin: 0 !important;
}

.choice-correct {
    background-color: #CCFF66;
}

.choice-wrong {
    background-color: #FF6666;
}

.question-answer {
    padding: .5rem 0;
    text-align: center;
}

.question .el-col {
    padding: .5rem 0 .5rem 1rem;
    margin-top: -1px;
    border: 1px solid #ddd;
}

.question img {
    max-width: 100%;
}

.question span {
    display: table-cell;
}

.el-card__header {
    padding: 0;
    text-align: center;
}

.el-card__body {
    padding: 0;
}

.submit {
    margin: 20px 11px;
}