<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <title>NEU-Mathe</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header id="header" class="header">
    <el-popover ref="popover" placement="bottom" v-model="userInfo">
        <div :style="{'text-align': 'center','font-size':'16px'}">
            <p v-text="'Hello, '+username+'!'"></p>
            <el-button v-if="!isLogin" type="info" size="mini"
                       @click="userInfo=false;isRegister=false;loginPanel=true;" v-text="'Login'"></el-button>
        </div>
    </el-popover>
    <div class="wrap">
        <div id="logo">
            <div id="site-title" v-text="'NEU-Mathe'"></div>
        </div>
        <div id="avatar">
            <img style="cursor:pointer;" :src="gravatarURL" v-popover:popover>
        </div>
    </div>
    <el-dialog :title="isRegister?'注册':'登录'" v-model="loginPanel" size="large" :lock-scroll="true"
               custom-class="login-panel">
        <el-form v-if="isRegister" ref="registerForm" :model="registerForm" :rules="registerFormCheck"
                 label-width="88px">
            <el-form-item label="邮箱" prop="email" key="register-email">
                <el-input v-model="registerForm.email"></el-input>
            </el-form-item>
            <el-form-item label="昵称" prop="nickname" key="register-nickname">
                <el-input v-model="registerForm.nickname"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password" key="register-password">
                <el-input v-model="registerForm.password" type="password"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="passwordCheck" key="register-passwordCheck">
                <el-input v-model="registerForm.passwordCheck" type="password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="register()" v-text="'注册'"></el-button>
                <el-button @click="toLogin()" v-text="'登录'"></el-button>
            </el-form-item>
        </el-form>
        <el-form v-else ref="loginForm" :model="loginForm" :rules="loginFormCheck" label-width="88px">
            <el-form-item label="邮箱" prop="email" key="login-email">
                <el-input v-model="loginForm.email"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password" key="login-password">
                <el-input v-model="loginForm.password" type="password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="login()" v-text="'登录'"></el-button>
                <el-button @click="toRegister()" v-text="'注册'"></el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</header>
<div id="container" class="wrap">
    <div id="type">
        <el-radio-group v-model='radioType' size='large'>
            <el-radio-button v-for="type in types" size='large' :label="type.name" :key="type.id"></el-radio-button>
        </el-radio-group>
    </div>
    <div class="subject" v-for="sjt in subjects">
        <el-button type="primary" size="large" @click="selectedSubject=sjt;showDialog()" v-text="sjt.name"></el-button>
    </div>
    <div id="dialog">
        <el-dialog :title="selectedSubject.name+' - '+radioType" v-model="dialogVisible" top="5%" size="large"
                   :close-on-click-modal="false" custom-class="wrap">
            <span>
                <el-alert v-if="networkError" title="网络错误" type="error" description="无法加载，请重试"
                          show-icon :closable="false">
                </el-alert>
                <el-tabs v-else v-model="dialogTab" type="card" v-loading="loadingChapter">
                    <template v-if="radioType==types[0].name">
                        <el-tab-pane label="考点选择" name="selection">
                            <el-tree :data="topics" :props="defaultProps" node-key="id" ref="tree" show-checkbox
                                     accordion>
                            </el-tree>
                        </el-tab-pane>
                        <el-tab-pane label="高级设置" name="configure">
                            <el-form label-position="right" label-width="66px">
                                <el-form-item label="模式">
                                    <el-switch v-model="zenMode" on-text="ZEN" off-text="普通"></el-switch>
                                </el-form-item>
                                <template v-if="!zenMode">
                                    <el-form-item label="题数">
                                        <el-slider v-model="eCount" :min="eCountMin" :max="eCountMax"
                                                   show-input></el-slider>
                                    </el-form-item>
                                    <el-form-item label="时间">
                                        <el-slider v-model="eTime" :min="eTimeMin" :max="eTimeMax" :step="5" show-stops
                                                   show-input></el-slider>
                                    </el-form-item>
                                </template>
                            </el-form>
                        </el-tab-pane>
                    </template>
                    <template v-else>
                        <el-tab-pane label="考点选择" name="selection">
                            <el-form label-position="top" label-width="80px">
                                <el-form-item label="自定模板" name="template">
                                    <el-input v-model="customTemplate" type="textarea" :rows="3"
                                              placeholder="*_*_*_*"></el-input>
                                </el-form-item>
                                <el-form-item label="自选题目" name="source">
                                    <el-input v-model="customSource" type="textarea" :rows="3"
                                              placeholder="*.zip"></el-input>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>
                        <el-tab-pane label="高级设置" name="configure">
                            <el-form label-position="right" label-width="66px">
                                <el-form-item label="时间">
                                    <el-slider v-model="eTime" :min="eTimeMin" :max="eTimeMax" :step="5" show-stops
                                               show-input></el-slider>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>
                    </template>
                </el-tabs>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false" v-text="cancelButton"></el-button>
                <el-button type="primary" @click="showPaper();" :disabled="networkError"
                           v-text="startButton"></el-button>
            </span>
        </el-dialog>
    </div>
</div>
<footer id="footer">
    <div class="wrap">
        <div id="copyright">
            海之树 · 2017.03<br/>
            <i>https://GitHub.com/Haizs/NEU-mathe</i>
        </div>
    </div>
</footer>
<script src="js/vue.js"></script>
<script src="js/element-ui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var header = new Vue({
        el: '#header',
        data: {
            gravatarURL: '',
            userInfo: false,
            username: '',
            isLogin: false,
            loginPanel: false,
            isRegister: false,
            loginForm: {
                email: '',
                password: ''
            },
            registerForm: {
                email: '',
                nickname: '',
                password: '',
                passwordCheck: ''
            },
            registerFormCheck: {
                email: [
                    {required: true, message: '请输入邮箱', trigger: 'blur'},
                    {pattern: /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/, message: '请输入正确的邮箱', trigger: 'blur'}
                ],
                nickname: [
                    {required: true, message: '请输入昵称', trigger: 'blur'},
                    {pattern: /^[a-zA-Z0-9]{5,15}$/, message: '请输入至少五位英文数字昵称', trigger: 'blur'}
                ],
                password: [
                    {required: true, message: '请输入密码', trigger: 'blur'},
                    {pattern: /^[!-~]{6,}$/, message: '请输入至少六位密码', trigger: 'blur'}
                ],
                passwordCheck: [
                    {required: true, message: '请再次输入密码', trigger: 'blur'},
                    {
                        validator: function (rule, value, callback) {
                            if (value !== header.registerForm.password) {
                                callback(new Error('两次输入密码不一致!'));
                            } else {
                                callback();
                            }
                        }, trigger: 'blur'
                    }
                ]
            },
            loginFormCheck: {
                email: [
                    {required: true, message: '请输入邮箱', trigger: 'blur'}
                ],
                password: [
                    {required: true, message: '请输入密码', trigger: 'blur'}
                ]
            }
        },
        created: function () {
            axios.get('userInfo.php', {}
            ).then(function (response) {
                if (response.status != 200) {
                    header.$message.error('请求出错');
                    return;
                }
                var data = response.data;
                if (data.isLogin) {
                    header.gravatarURL = 'getGravatar.php?hash=' + data.hash + '&s=32';
                    header.isLogin = true;
                    header.username = data.nickname;
                } else {
                    header.gravatarURL = 'getGravatar.php?hash=' + '&s=32';
                    header.isLogin = false;
                    header.username = 'Guest';
                }
            }).catch(function (error) {
                header.$message.error('网络错误');
            })
        },
        methods: {
            toRegister: function () {
                this.$refs['loginForm'].resetFields();
                this.isRegister = true;
            },
            toLogin: function () {
                this.$refs['registerForm'].resetFields();
                this.isRegister = false;
            },
            register: function () {
                this.$refs['registerForm'].validate(function (valid) {
                    if (valid) {
                        axios.post('userRegister.php', {
                            email: header.registerForm.email,
                            nickname: header.registerForm.nickname,
                            password: header.registerForm.password
                        }).then(function (response) {
                            if (response.status != 200) {
                                header.$message.error('请求出错');
                                return;
                            }
                            window.location.reload();
                        }).catch(function (error) {
                            header.$message.error('网络错误');
                        });
                    } else {
                        console.log('failed');
                    }
                })
            },
            login: function () {
                this.$refs['loginForm'].validate(function (valid) {
                    if (valid) {
                        axios.post('userLogin.php', {
                            email: header.loginForm.email,
                            password: header.loginForm.password
                        }).then(function (response) {
                            if (response.status != 200) {
                                header.$message.error('请求出错');
                                return;
                            }
                            var data = response.data;
                            if (data.error) {
                                header.$message.error(data.message);
                            } else {
                                window.location.reload();
                            }
                        }).catch(function (error) {
                            header.$message.error('网络错误');
                        });
                    } else {
                        console.log('failed');
                    }
                })
            }
        }
    });
    var app = new Vue({
        el: '#container',
        data: {
            radioType: '模拟练习',
            dialogTab: '',
            dialogVisible: false,
            loadingChapter: false,
            networkError: false,
            types: [
                {name: '模拟练习', id: 0},
                {name: '仿真测验', id: 1}
            ],
            subjects: [
                {name: '高等数学', id: 'GS'},
                {name: '概率统计', id: 'GL'},
                {name: '复变函数', id: 'FB'},
                {name: '线性代数', id: 'XD'}
            ],
            selectedSubject: {},
            topics: [],
            defaultProps: {
                children: 'children',
                label: 'name'
            },
            zenMode: false,
            eCount: 0,
            eCountMin: 0,
            eCountMax: 0,
            eTimeMin: 0,
            eTimeMax: 0,
            eTime: 0,
            customTemplate: '',
            customSource: '',
            cancelButton: '取消'
        },
        computed: {
            startButton: function () {
                if (this.radioType == this.types[0].name) {
                    if (this.zenMode) return '开始修禅';
                    else return '开始练习';
                }
                return '开始测试';
            }
        },
        methods: {
            showDialog: function () {
                this.loadingChapter = false;
                this.networkError = false;
                this.topics = [];
                this.zenMode = false;
                this.eTime = (this.selectedSubject.id == 'XD') ? 30 : 90;
                this.eTimeMin = Math.max(this.eTime - 30, 1);
                this.eTimeMax = this.eTime + 30;
                this.eCount = (this.selectedSubject.id == 'XD') ? 6 : 25;
                this.eCountMin = Math.max(this.eCount - 15, 1);
                this.eCountMax = this.eCount + 15;
                this.customTemplate = '';
                this.customSource = '';
                this.dialogTab = 'selection';
                this.dialogVisible = true;
                if (this.radioType == this.types[0].name) {
                    this.loadingChapter = true;
                    axios.get('getChapter.php', {
                        params: {
                            subject: this.selectedSubject.id
                        }
                    }).then(function (response) {
                        if (response.status !== 200) {
                            app.networkError = true;
                            return;
                        }
                        app.networkError = false;
                        app.topics = response.data;
                        app.loadingChapter = false;
                    }).catch(function (error) {
                        app.networkError = true;
                    });
                }
            },
            showPaper: function () {
                var url = 'paper.html';
                url += '?type=' + ((this.radioType == this.types[0].name) ? '0' : '1');
                url += '&subject=' + this.selectedSubject.id;
                if (this.radioType == this.types[0].name) {
                    url += '&id=' + this.$refs.tree.getCheckedKeys(true).toString();
                    if (this.zenMode) url += '&zen=1';
                    else url += '&count=' + this.eCount + '&time=' + this.eTime;
                } else {
                    url += '&time=' + this.eTime;
                    url += '&template=' + this.customTemplate;
                    url += '&source=' + this.customSource;
                }
                window.location.href = url;
            }
        }
    })
</script>
</body>
</html>