<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <title>NEU-Mathe</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header id="header">
    <div class="wrap">
        <div id="logo">
            <div id="site-title">
                NEU-Mathe
            </div>
        </div>
        <div id="avatar">
            <img :src="avatarURL">
        </div>
    </div>
</header>
<div id="container">
    <div id="type">
        <el-radio-group v-model='radioType' size='large'>
            <el-radio-button v-for="type in types" size='large' :label="type.name" :key="type.id"></el-radio-button>
        </el-radio-group>
    </div>
    <div class="subject" v-for="sjt in subjects">
        <el-button type="primary" size="large"
                   @click="selectedSubject=sjt;showDialog()">{{sjt.name}}
        </el-button>
    </div>
    <div id="dialog">
        <el-dialog :title="selectedSubject.name+' - '+radioType" v-model="dialogVisible" top="5%" size="large"
                   :close-on-click-modal="false" custom-class="wrap">
            <span>
                <el-alert v-if="networkError" title="网络错误" type="error" description="无法加载，请重试"
                          show-icon :closable="false">
                </el-alert>
                <el-tabs v-else v-model="dialogTab" type="card" v-loading="loadingChapter">
                    <template v-if="radioType==types[0].name">
                        <el-tab-pane label="考点选择" name="selection">
                            <el-tree :data="topics" :props="defaultProps" node-key="id" ref="tree" show-checkbox
                                     accordion>
                            </el-tree>
                        </el-tab-pane>
                        <el-tab-pane label="高级设置" name="configure">
                            <el-form label-position="right" label-width="66px">
                                <el-form-item label="模式">
                                    <el-switch v-model="zenMode" on-text="ZEN" off-text="普通"></el-switch>
                                </el-form-item>
                                <template v-if="!zenMode">
                                    <el-form-item label="题数">
                                        <el-slider v-model="eCount" :min="10" :max="40" show-input></el-slider>
                                    </el-form-item>
                                    <el-form-item label="时间">
                                        <el-slider v-model="eTime" :min="60" :max="120" :step="5" show-stops
                                                   show-input></el-slider>
                                    </el-form-item>
                                </template>
                            </el-form>
                        </el-tab-pane>
                    </template>
                    <template v-else>
                        <el-tab-pane label="自定模板" name="template">
                            <el-input v-model="customTemplate" type="textarea" :rows="5"
                                      placeholder="*_*_*_*"></el-input>
                        </el-tab-pane>
                        <el-tab-pane label="自选题目" name="problem">
                            <el-input v-model="customProblem" type="textarea" :rows="5"
                                      placeholder="*.zip"></el-input>
                        </el-tab-pane>
                    </template>
                </el-tabs>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="showPaper();" :disabled="networkError">{{startButton}}</el-button>
            </span>
        </el-dialog>
    </div>
</div>
<footer id="footer">
    <div class="wrap">
        <div id="copyright">
            海之树 · 2017.03<br/>
            <i>https://GitHub.com/Haizs/NEU-mathe</i>
        </div>
    </div>
</footer>
<script src="js/vue.js"></script>
<script src="js/element-ui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var header = new Vue({
        el: '#header',
        data: {
            avatarURL: ''//'https://www.gravatar.com/avatar/?s=32'
        }
    });
    var app = new Vue({
        el: '#container',
        data: {
            radioType: '模拟练习',
            dialogTab: '',
            dialogVisible: false,
            loadingChapter: false,
            networkError: false,
            types: [
                {name: '模拟练习', id: 0},
                {name: '仿真测验', id: 1}
            ],
            subjects: [
                {name: '高等数学', id: 'GS'},
                {name: '概率统计', id: 'GL'},
                {name: '复变函数', id: 'FB'},
                {name: '线性代数', id: 'XD'}
            ],
            selectedSubject: {},
            topics: [],
            defaultProps: {
                children: 'children',
                label: 'name'
            },
            zenMode: false,
            eCount: 0,
            eTime: 0,
            customTemplate: '',
            customProblem: ''
        },
        computed: {
            startButton: function () {
                if (this.radioType == this.types[0].name) {
                    if (this.zenMode) return '开始修禅';
                    else return '开始练习';
                }
                return '开始测试';
            }
        },
        methods: {
            showDialog: function () {
                this.dialogTab = (this.radioType == this.types[0].name) ? 'selection' : 'template';
                this.dialogVisible = true;
                if (this.radioType == this.types[0].name) {
                    this.networkError = false;
                    this.topics = [];
                    this.zenMode = false;
                    this.eCount = 25;
                    this.eTime = 90;
                    this.loadingChapter = true;
                    axios.get('getChapter.php', {
                        params: {
                            subject: this.selectedSubject.id
                        }
                    }).then(function (response) {
                        if (response.status !== 200) {
                            app.networkError = true;
                        }
                        app.networkError = false;
                        app.topics = response.data;
                        app.loadingChapter = false;
                    }).catch(function (error) {
                        app.networkError = true;
                    });
                } else {
                    this.customTemplate = '';
                    this.customProblem = '';
                }
            },
            showPaper: function () {
                var url = 'paper.html?type=' + ((this.radioType == this.types[0].name) ? '0' : '1');
                if (this.radioType == this.types[0].name) {
                    url += '&id=' + this.$refs.tree.getCheckedKeys().toString();
                    if (this.zenMode) url += '&zen=1';
                    else url += '&count=' + this.eCount + '&time=' + this.eTime;
                } else {
                    url += '&template=' + this.customTemplate;
                    url += '&problem=' + this.customProblem;
                }
                console.log(url);
            }
        }
    })
</script>
</body>
</html>